<ActionBar class="action-bar">
    <Label class="action-bar-title" style="font-family: 'Karma', serif;" text="Artificial"></Label>
</ActionBar>

<StackLayout class="page">
    <GridLayout rows="*, *, *, *, auto, auto" columns="*,*">

            
            <Label row="0" col="0" colSpan="2" style="text-align: center;" class="body" text="{{'Connected ' + this.connected}}"></Label>
            <Label row="1" col="0" colSpan="2" style="text-align: center;" class="h3" text="{{'Current modifier ' + this.bluetoothService.artificial}}"></Label>
            <Label row="2" col="0" style="text-align: center;" class="h4" text="{{'Percent absorbed: ' + this.bluetoothService.raw_percent}}"></Label>
            <Label row="2" col="1" style="text-align: center;" class="h4" text="{{'Percent adjusted: ' + this.bluetoothService.percent}}"></Label>


            <Button row="4" col="0" class="btn btn-rounded-sm btn-primary btn-active" id="button" text="-25%" (tap)="increase(-25)" style="background-color: crimson;"></Button>
            <Button row="4" col="1" class="btn btn-rounded-sm btn-primary btn-active" id="button" text="+25%" (tap)="increase(25)" style="background-color: mediumseagreen;"></Button>

            <Button row="5" col="0" class="btn btn-rounded-sm btn-primary btn-active" id="button" text="-50%" (tap)="increase(-50)" style="background-color: crimson;"></Button>
            <Button row="5" col="1" class="btn btn-rounded-sm btn-primary btn-active" id="button" text="+50%" (tap)="increase(50)" style="background-color: mediumseagreen;"></Button>
    </GridLayout>
    
</StackLayout>