<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout rows="auto, auto, *, 2*" columns="*, auto" backgroundColor="#3B3561"
    padding="15"> <!--#0D0735-->

    <Label row="0" col="0" color="#fff" fontSize="15" fontWeight="bold"
        [text]="'QUESTION ' + (currentQuestionIndex + 1) + '/' + questions.length"></Label>
    <Label row="0" col="1" color="#fff" fontSize="15" fontWeight="bold" text="END"
        (tap)="end()"></Label>

    <GridLayout row="1" col="0" colSpan="2" backgroundColor="#DD7373" height="20"
        borderRadius="10" margin="10 0"><!--#4A4A4A-->
        <StackLayout horizontalAlignment="left" backgroundColor="#B6EB81"
            height="20" borderRadius="10" [width]="(currentQuestionIndex * 100 / questions.length) + '%'"></StackLayout>
    </GridLayout> 

    <GridLayout row="2" col="0" colSpan="2" backgroundColor="#B8CDF8" margin="5"
        borderRadius="10"><!--#250046-->
        <Label verticalAlignment="center" horizontalAlignment="center"
            textAlignment="center" color="#fff" fontSize="20" fontWeight="bold"
            textWrap="true" [text]="questions[currentQuestionIndex].question"></Label>
    </GridLayout>


    
        <GridLayout  row="3" col="0" colSpan="2" [rows]="getRows(questions[currentQuestionIndex].options)">
            <GridLayout *ngFor="let question of questions[currentQuestionIndex].options; let i = index" [row]="i" [columns]="getCols(question.color)"  (tap)="selectAnswer(i, $event)"
                margin="5" padding="5" borderRadius="20">
                <GridLayout [col]="p" *ngFor="let color of question.color; let p = index" [backgroundColor]="color ">
                    <Label verticalAlignment="center" horizontalAlignment="center"
                    textAlignment="center" color="#fff" fontSize="13" fontWeight="bold"
                    textWrap="true" [text]="question.option"></Label>
                </GridLayout>
            </GridLayout>
        </GridLayout>
   
    <!--<GridLayout *ngIf="questions" row="3" col="0" colSpan="2" rows="*, *, *, *, *, *">
            

            <GridLayout *ngFor="let item of questions[currentQuestionIndex].options; let i = index"
                [row]="i"  margin="5" padding="5" [backgroundColor]="getColor(item)" 
                borderRadius="20" (tap)="selectAnswer(i, $event)"> 
                <Label  verticalAlignment="center" horizontalAlignment="center"
                    textAlignment="center" color="#fff" fontSize="13" fontWeight="bold"
                    textWrap="true" [text]="item.option"></Label>
            </GridLayout>
        </GridLayout>

    

</GridLayout>-->
</GridLayout>
<!--backgroundColor="#4446ff"-->