<ActionBar class="action-bar">
    <Label class="action-bar-title" style="font-family: 'Karma', serif;" text="Youvee"></Label>
</ActionBar>

<StackLayout class="page">
    <!--<GridLayout columns="*, *, *, *, *, *" rows="auto, auto, auto">
        <Label row="0" col="0" colSpan="3" rowSpan="1" *ngIf="this.bluetoothService.connected" text="Connected"></Label>
        <Label row="0" col="3" colSpan="3" rowSpan="1" *ngIf="this.bluetoothService.connected" [text]="this.bluetoothService.name"></Label>

        <Label row="0" col="1" colSpan="2" rowSpan="1" *ngIf="!this.bluetoothService.connected" text="Disconnected"></Label>
        <Button row="0" col="3" colSpan="2" rowSpan="1" *ngIf="!this.bluetoothService.connected" text="Connect to device" class="btn btn-rounded-sm btn-primary" (tap)="this.busy=true;scan()"></Button>
        <ActivityIndicator row="1" [busy]="this.busy" width="100" height="100" class="activity-indicator"></ActivityIndicator>
        <button row="2" colSpan="2" rowSpan="1" text="Check Array" (tap)="check()" class="btn btn-primary btn-active"></button>
    </GridLayout>-->
    
    <!--
    <GridLayout columns="*, *" rows="55, 55, 55">
        <Button row="0" col="0" colSpan="1" rowSpan="1" text="bluetooth enabled?" tap="{{ doIsBluetoothEnabled }}" class="btn btn-primary btn-active btn-rounded-sm"></Button>
        <Label row="0" col="1" colSpan="1" rowSpan="1" [(text)]="this.bluetoothService.connected" class="p-15"></Label>
    
        
        <button row="1" colSpan="2" rowSpan="1" text="Scan for devices" (tap)="scan()" class="btn btn-primary btn-active"></button>
        <button row="2" colSpan="2" rowSpan="1" text="Check Array" (tap)="check()" class="btn btn-primary btn-active"></button>
        
    </GridLayout>

-->

<GridLayout columns="*, *, *, *" rows="*, *, *, *, *" tkExampleTitle tkToggleNavButton class="main-griddy">
        
        

        <!-- >> gauges-getting-started-angular-html -->
            <!-- >> gauges-animations-angular-html -->
            <StackLayout col="0" row="0" colSpan="4" rowSpan="3" class="gauge">
            <RadRadialGauge #myGauge subtitle="{{this.bluetoothService.percent*100}}%" title="UV absorption">
                    <RadialScale #myScale tkRadialGaugeScales startAngle="0" sweepAngle="360" minimum="0" maximum="100" radius="0.9">
                        <ScaleStyle tkRadialScaleStyle ticksVisible="false" labelsVisible="false" lineThickness="0"></ScaleStyle>
            
                        <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100" location="1">
                            <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="rgb(234,217,76, 0.5)" barWidth="0.1"></BarIndicatorStyle>
                        </RadialBarIndicator>
                        
                        <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="{{this.bluetoothService.percent}}" location="1" isAnimated="true">
                            <BarIndicatorStyle tkRadialBarIndicatorStyle cap="Round" fillColor="rgb(234,217,76, 1)" barWidth="0.1"></BarIndicatorStyle>
                        </RadialBarIndicator>
            
                        <!--<RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100" location="0.75">
                            <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="rgba(196,241,57,0.5)" barWidth="0.2"></BarIndicatorStyle>
                        </RadialBarIndicator>
            
                        <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="0" location="0.75" isAnimated="true">
                            <BarIndicatorStyle tkRadialBarIndicatorStyle cap="Round" fillColor="rgba(196,241,57,1)" barWidth="0.2"></BarIndicatorStyle>
                        </RadialBarIndicator>
            
                        <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100" location="1">
                            <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="rgba(132,235,247,0.5)" barWidth="0.2"></BarIndicatorStyle>
                        </RadialBarIndicator>
            
                        <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="0" location="1" isAnimated="true">
                            <BarIndicatorStyle tkRadialBarIndicatorStyle cap="Round" fillColor="rgba(132,235,247,1)" barWidth="0.2"></BarIndicatorStyle>
                        </RadialBarIndicator>-->
                    </RadialScale>
            </RadRadialGauge>
        </StackLayout>
        <StackLayout row="3" col="0" colSpan="2" class="uv-freq body">
            <Label [text]="this.bluetoothService.total + ' UV absorbed'"></Label>
        </StackLayout>
        <Label row="3" col="2" colSpan="2" class="uv-freq body" text="15mins until burn"></Label>
        <StackLayout row="4" col="0" rowSpan="1" colSpan="4" class="secondary-main">
        <GridLayout columns="*, *" rows="auto" class="secondary-grid">
        <!--<Label row="0" col="0" colSpan="2" rowSpan="1" *ngIf="this.connected" text="Connected" class="body"></Label>-->
        <Label row="0" col="0" colSpan="1" rowSpan="1" *ngIf="this.connected" [text]="this.bluetoothService.device.name" class="body text-left cus" ></Label>
        <Button row="0" col="1" colSpan="1" rowSpan="1" *ngIf="this.connected" text="Disconnect" style="background-color: crimson;" class="btn btn-rounded-sm btn-primary cus" (tap)="this.bluetoothService.disconnect()"></Button>

        <Label row="0" col="0" colSpan="1" rowSpan="1" *ngIf="!this.connected" text="Disconnected" class="body text-left cus"></Label>
        <Button row="0" col="1" colSpan="1" rowSpan="1" *ngIf="!this.connected" text="Connect" class="btn btn-rounded-sm btn-primary cus" (tap)="this.busy=true;scan()"></Button>
        

        <!--<ListView row="1" col="0" colSpan="4" rowSpan="2" *ngIf="this.connected" [items]="this.bluetoothService.discoveredServices" class="list-group">
            <ng-template let-item="item">
                <StackLayout orientation="horizontal" class="list-group-item">
                    <Label [text]="item.UUID" textWrap="true"></Label>
                    <ListView *ngIf="this.connected" [items]="item.characteristics" class="list-group">
                        <ng-template let-item="item">
                            <Label [text]="item.UUID" textWrap="true"></Label>
                        </ng-template>
                    </ListView>   
                </StackLayout>
            </ng-template>
        </ListView>-->

        <!--<Label col="0" row="0" colSpan="2" text="Header:"></Label>
        <Label col="2" row="0" text="it's hot!"></Label>
        <Image col="3" row="0" src="~/app/images/sunset.png" class="img-rounded p-1-15"></Image>-->

        </GridLayout>
    </StackLayout>
            <!--<ListView row="3" colSpan="4" [items]="this.news">
                <ng-template let-item="item">
                    <GridLayout class="list-group-item" rows="*" columns="auto, *">
                    <Image col="0" src="~/app/images/sunny.png" class="thumb img-circle"></Image>
                    <StackLayout col="1" class="list-group-item">
                        <Label text="Header" class="list-group-item-heading"></Label>
                        <Label [text]="item" class="list-group-item-text" textWrap="true"></Label>
                    </StackLayout>
                </GridLayout>
                </ng-template>
            </ListView>-->
        <!-- << gauges-getting-started-angular-html -->
</GridLayout>
    <!--<GridLayout rows="200">
        <RadListView [items]="this.serviceList">
          <ng-template let-item="item">
            <button [text]="item.UUID" class="p-15"></button>
          </ng-template>
        </RadListView>
        
    </GridLayout>
    
    <GridLayout>
        <RadListView [items]="this.bluetoothService.serviceList">
            <ng-template let-item="item">
                <Label [text]="item.UUID" class="p-15"></Label>
            </ng-template>
        </RadListView>
    </GridLayout>
    --->
    
</StackLayout>
