

/*StackLayout {
    margin: 8% 0px 0px 0px;
}*/

.primary {
    background-color: #59677d;
    /*margin: 8% 0px 0px 0px;*/
    padding: 10% 0 0 0;
}

.page {
    /*background-color: #808080;*/
    /*background-color: #51A3A3;
    background-color: #3B3561;*/
}

.gauge {
    background-color: #51A3A3;
    padding: 50px 0 50px 0;
}

.uv-freq {
    display: inline-block;
    vertical-align: middle;
    text-align: center;

}

.main-griddy {
    justify-content: center;
    align-items: center;
    background-size: cover;
    
    /*padding: 25px 5% 25px 5%;*/
    
    /*background-image: url("https://i.pinimg.com/736x/bf/69/a5/bf69a55f145adb7ac26517d7e85355f4.jpg");*/
}

StackLayout {
    padding: 0 0 0 0;
}

.secondary-main {
    margin: 25px 5% 25px 5%;
    /*background-color: #e2e0e0;*/
    background-color: #B8CDF8;
    border-radius: 25px;
}

.secondary-grid {
    padding: 5% 5% 5% 5%;
}

.device-info {
    background-color: #ffffff;
}

.thumb {
    height: 100px;
    width: 100px;
}

button {
    /*background-color: orchid;*/
    /*border-radius: 5;
    color: white;
    vertical-align: middle;
    width: 60%;*/
}
