

StackLayout {
    margin: 8% 0px 0px 0px;
}

.main-griddy {
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: #f2fff2;
    margin: 25px 5% 25px 5%;
    /*background-image: url("https://i.pinimg.com/736x/bf/69/a5/bf69a55f145adb7ac26517d7e85355f4.jpg");*/
}

.thumb {
    height: 100px;
    width: 100px;
}

button {
    /*background-color: orchid;*/
    /*border-radius: 5;
    color: white;
    vertical-align: middle;
    width: 60%;*/
}
