<GridLayout columns="*, *, *" height="54" row="1" class="bottom-navigation">
	<GridLayout col="0" class="bottom-navigation-item" [class.selected]="isComponentSelected('/home')"
        (tap)="onNavItemTap('/home')">
        <Image src="~/app/images/home.png" height="23" width="23"></Image>
        
    </GridLayout>

    <GridLayout col="1" class="bottom-navigation-item" [class.selected]="isComponentSelected('/settings')"
        (tap)="onNavItemTap('/settings')">
        <Image src="~/app/images/settings.png" height="23" width="23"></Image>
    </GridLayout>

    <GridLayout col="2" class="bottom-navigation-item" [class.selected]="isComponentSelected('/about')"
        (tap)="onNavItemTap('/about')">
        <Image src="~/app/images/about.png" height="23" width="23"></Image>
    </GridLayout>
</GridLayout>