<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout rows="*" backgroundColor="#250046">
    <ScrollView row="0">
        <Button class="btn btn-primary" text="home" [nsRouterLink]="['/quiz']"></Button>
        <StackLayout>
            <GridLayout *ngFor="let item of categories; let i = index" rows="auto, auto, *, auto"
                columns="*, auto" height="250" [backgroundColor]="item.backgroundColor"
                padding="20" [nsRouterLink]="['/quiz']"  >
                <Image row="0" rowSpan="3" col="1" [src]="item.image" height="150"
                    width="150"></Image>
                <Label row="0" col="0" colSpan="2" color="#fff" fontSize="15"
                    [text]="'Last Done - ' + item.quizDate"></Label>
                <Label row="1" col="0" colSpan="2" color="#fff" fontSize="15"
                    [text]="'Finished - ' + item.lastScore + '%'"></Label>
                <Label row="3" col="0" colSpan="2" color="#fff" fontSize="30"
                    [text]="item.title"></Label>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>